name: actionlint

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - '.github/workflows/**'
  
permissions:
  contents: read
  pull-requests: write

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5
      - name: actionlint
        uses: reviewdog/action-actionlint@3981d83a3cc805ac1bf47f53ffea3bb1d9171259
        with:
          reporter: github-pr-review
