name: Lint

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - '**.py'
      - '.github/workflows/lint.yml'
      - 'pyproject.toml'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5
      - uses: actions/setup-python@7f4fc3e22c37d6ff65e88745f38bd3157c663f7c
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ruff bandit
      - name: Run ruff
        run: |
          ruff format --check .
          ruff check --output-format=github .
      - name: Run bandit
        run: bandit -r .
